<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TP_Banco01</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/untitled.css">
</head>

<body><nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><a href="#cabecalho" class="navbar-brand js-scroll-trigger">Voltar ao Topo</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item mx-0 mx-lg-1"><a href="#contact" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Seleção dos Arquivos</a></li>
                <li role="presentation" class="nav-item mx-0 mx-lg-1"><a href="#about" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Sobre</a></li>
            </ul>
        </div>
    </div>
</nav><header id="cabecalho" class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1>MAVIS</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">Agora que você escolheu a opção de inserir um arquivo .csv, a próxima etapa é selecionar aqueles arquivos que serão utilizados para a visualização dos dados!</h2>
    </div>
</header>
    <section id="contact"><div class="container" style="height: 220px;">
    <h2 class="text-uppercase text-center text-secondary mb-0">Selecione os seus arquivos e depois confirme-os</h2>
    <hr class="star-dark mb-5" />
    <form method="post" enctype="multipart/form-data" accept=".csv">
        <input type="file" name="uploadedFile" required>
        <input type="submit" class="btn btn-primary float-right" value="Enviar" />
        <!-- <button type="submit" class="btn btn-primary float-right">Enviar</button> -->
    </form>
    <div>
        <p><%= message %></p>
    </div>
</div></section>
    <section id="about" class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center text-white">sobre</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">MAVIS é um website desenvolvido com o intuito de oferecer aos seus usuários diferentes formas de visualização de dados a partir de um determinado tipo de mapa.<br></p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">São oferecidas duas opções para que a visualização desses dados seja realizada. O usuário pode tanto recuperar informações a partir de um banco de dados, quanto inserir um arquivo .csv.<br></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Localização e telefone</h4><p>R. Roberto Símonsen, 305 - Centro Educacional, Pres. Prudente - SP, 19060-900<br/>Telefone: (18) 3229-5388</p></div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Projeto</h4>
                    <p>Trabalho de Banco de Dados desenvolvido por Leonardo Menosse Ribeiro e Thales Vinicius de Brito Uê no curso de Bacharelado de Ciência da Computação da Faculdade de Ciências e Tecnologia do câmpus da UNESP de Presidente Prudente</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">Sobre a UNESP</h4>
                    <p class="lead mb-0"><span>A Universidade Estadual Paulista - "Júlio de Mesquita Filho" (UNESP) é uma universidade pública localizada em Presidente Prudente, São Paulo</span></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright ©&nbsp;MAVIS 2019</small></div>
    </div>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="javascripts/freelancer.js"></script>
</body>

</html>